PORT=3002
# Local container or cloud MongoDB Atlas connection URI
MONGO_URI=mongodb://mongo-product:27017/product_db
# Cloud Atlas Example:
# MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/product_db?retryWrites=true&w=majority
