PORT=3003
USER_SERVICE_URL=http://user-service:3001
PRODUCT_SERVICE_URL=http://product-service:3002
# Local container or cloud MongoDB Atlas connection URI
MONGO_URI=mongodb://mongo-order:27017/order_db
# Cloud Atlas Example:
# MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/order_db?retryWrites=true&w=majority
