PORT=3001
# Local container or cloud MongoDB Atlas connection URI
MONGO_URI=mongodb://mongo-user:27017/user_db
# Cloud Atlas Example:
# MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/user_db?retryWrites=true&w=majority
